<h1 id="header">Your Image</h1>
<img src=<%= @image.image_url %> alt=<%= @image.name %> > <br>
<p id="tags">Tags: <%= raw(@image.tag_list.map { |t| link_to t, tagged_path(t) }.join(', ')) %> </p>
<a href="/image/new">Submit chicken photos of your own!</a><br>
