<h1 id="header">Your Image</h1>
<img src=<%= @image.image_url %> alt=<%= @image.name %> > <br>
<p id="tags">Tags: <%= @image.tag_list %> </p>
<a href="/image/new">Submit chicken photos of your own!</a><br>
