<h1 id="header">Tagged Images</h1>

<a href="/image/new">Submit chicken photos of your own!</a><br>
  <p>
    <% @images.all.entries.reverse.each do | img | %>
      <% if not img.nil? %>
        <img src=<%= img.image_url %> alt=<%= img.name %> height="400" width="400"><br>
        <p id=<%= img.name %>>
          Tags: <%= raw(img.tag_list.map { |t| link_to t, tagged_path(t) }.join(', ')) %> 
        </p><br>
      <% end %>
    <% end %>
  </p>